footer.container-fluid {
    background: #000;
    position: absolute;
    bottom: 0;
    height: auto;
    padding: 50px 0;
    color: #adadaa;

    .logo-footer {
        width: 5rem;

        @media screen and (max-width: 991px) {
            width: 3rem;
        }
    }

    .container-navs {
        margin-top: 2rem;
        a {
            color: #adadaa;
        }
    }
}